#titleLabel {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
}

.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
}

.text-area {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
}

.text-field {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #1ed044;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}